@use "../../../variables.scss";

.burger {
  padding: 0;
  margin-top: 22px;
  border: 0;
  width: 20px;
  height: 18px;
  color: #EAEAEA;
  background: url(../../../images/header-burger.svg) no-repeat;
  display: variables.$invisible;
  cursor: variables.$cursor-hover;
  z-index: 3;
  transition: all .5s ease;

  &:hover {
    opacity: .5;
  }

  @media screen and (max-width: 767px) {
    & {
      display: block;
      margin-left: 54px;
    }
  }
}









