@use "../../../variables.scss";

.like {
  border: 0;
  padding: 0;
  margin: 21px 45px 0 0;
  width: 22px;
  height: 20px;
  background: url(../../../images/header-like.svg) no-repeat;
  background-size: contain;
  margin-left: auto;
  cursor: variables.$cursor-hover;
  transition: opacity .5s ease;

  &:hover {
    opacity: .5;
  }

  @media screen and (max-width: 767px) {
    & {
      display: variables.$invisible;
    }
  }
}



