@use "../../variables.scss";

.footer {
  max-width: 90%;
  margin: 60px auto 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    & {
      margin-top: 40px;
    }
  }
  
  @media screen and (max-width: 427px) {
    & {
      margin-top: 20px;
    }
  }

  &__logo {
    margin: 29px 0 0 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #101010;
  }
  
  @media screen and (max-width: 427px) {
    &__logo {
      margin-left: 20px;
    }
  }
}

